sudo apt-get update -y
sudo apt-get install -y tinyproxy

grep -rhE ^deb /etc/apt/sources.list* | grep "cloud-sdk"

sudo apt-get install -y kubectl

kubectl version --short --client

gcloud container clusters get-credentials ${CLUSTER_NAME} \
    --zone=${COMPUTE_ZONE}

curl -LO https://get.helm.sh/helm-v3.7.0-linux-amd64.tar.gz
tar -xzf helm-v3.7.0-linux-amd64.tar.gz
mv linux-amd64/helm /usr/local/bin/helm

helm init

helm install my-release oci://registry-1.docker.io/bitnamicharts/postgresql